.discounts {
  width: 100%;
  font-family: "Mulish";
  padding-bottom: 3rem;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &_inner {
      min-width: 1290px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      @media (max-width: 570px) {
        min-width: 1200px;
        gap: 1rem;
      }
      .discount {
        width: 280px;
        height: 320px;
        border-radius: 10px;
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        padding-bottom: 2rem;
        h1 {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          color: var(--color-white);
          max-width: 240px;
        }
        img {
          width: 100%;
        }
        &:nth-child(odd) {
          background-color: var(--color-orange);
        }
        &:nth-child(even) {
          gap: 3rem;
          h1 {
            margin-left: 1rem;
            margin-right: 1rem;
          }
          img {
            width: 278px;
          }
          align-items: start;
          background-color: var(--color-red);
        }
      }
    }
  }
}
.addressSearch {
  width: 100%;
  &__wrapper {
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--bgcolor-white);
    color: var(--fontColor-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    @media (max-width: 550px) {
      padding: 1rem;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      flex-grow: 1;
      @media (max-width: 550px) {
        gap: 0;
        flex-wrap: nowrap;
      }
      div {
        input {
          width: 100%;
          padding-left: 0.5rem;
          border-radius: 6px;
          height: 48px;
          border: 1px solid var(--color-border);
          font-size: 16px;
          font-weight: 400;
          background-color: var(--bgcolor-white);
          color: var(--fontColor-black);
          &::placeholder {
            font-family: "Mulish";
          }
          @media (max-width: 550px) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        flex-grow: 1;
      }
      button {
        @media (max-width: 550px) {
          width: 48px !important;
          height: 48px !important;
          padding: 0 !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
        p {
          @media (max-width: 550px) {
            display: none;
          }
        }
        span {
          display: none;
          @media (max-width: 550px) {
            display: flex;
          }
        }
      }
    }
  }
}
.footer__text {
  width: 100%;
  display: flex;
  padding-top: 3rem;
  &_wrapper {
    width: 850px;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    color: var(--fontColor-black);
    padding: 1rem;
    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding-bottom: 1rem;
    }
  }
}
